body {
    background: #dddddd;
}
#container {
    margin-left: auto;
    margin-right: auto;
    width: 830px;
}
#PaintWindow {
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
}

.left-toolbar {
    margin-left: 50px;
}

label > input{
    display:none;
}

label > input + img{
    cursor:pointer;
    border:2px solid transparent;
}

label > input:checked + img{
    border:2px solid #000000;
}
